.App {
  height: 100vh;
  max-width: 360px;
  text-align: center;
  border: 0.5rem solid #000;
  border-radius: 8px;
  overflow: scroll;
  padding: 0;
}

.source_div{
  font-size: 0.5rem;
}

.footer{
  color: #ffff;
}


